/* color of navbar */
.navbar-default {
    background-color: #3d5a8b;
}

/* color of links */
a {
    color: #5c7eb8;
    text-decoration: none;
}

/* color of headers */
h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #003366;
}

/* weight of main headers (600 too heavy for h1) */
h1 {
    font-weight: 500;
    color: #003366;
}

h2 {
    font-weight: 500;
    color: #003366;
}

code {
  font-size: 100%;
}

.navbar {
    font-size: 17px;
}

/* 
body, input, textarea, .page-title span, .pingback .url {
    font-family: Georgia, "Bitstream Charter", serif;
}

body {
    font-size: 15px;
}
*/

/* color of active selection in sidebar 
   Doesn't seem to work if on same line */
.list-group-item.active {
    background-color: #3d5a8b;
}
.list-group-item.active:hover {
    background-color: #3d5a8b;
}

/* font weight of main headers in table of contents (300 is default) */
.tocify-header {
  font-weight: 500;
}
